python-telegram-bot~=20.8  # https://github.com/python-telegram-bot/python-telegram-bot
python-dotenv~=1.0.1  # https://github.com/theskumar/python-dotenv
aiosqlite~=0.20.0  # https://github.com/omnilib/aiosqlite
sentry_sdk~=1.42.0  # https://github.com/getsentry/sentry-python
